<!doctype html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>{{site.name}}</title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="icon" href="{{ site.baseurl }}favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}apple-touch-icon.png" />
  
  <link rel="stylesheet" href="{{ site.baseurl }}style.css" />
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
