<!doctype html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>{{site.name}}</title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="icon" href="{{ site.baseurl }}/favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/apple-touch-icon.png" />
  
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css" />
  <!-- Merriweather -->
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
  
  <!-- For Trying Fonts -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Lustria|Bree+Serif|Donegal+One|Volkhov' rel='stylesheet' type='text/css'> -->
  
  <!-- Source Sans Pro -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'> -->
  <!-- Mate -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Mate' rel='stylesheet' type='text/css'> -->
  
  <!-- Titillium -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'> -->
  <!-- Trykker -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Trykker' rel='stylesheet' type='text/css'> -->
</head>
<body>
<div class="wrap">